<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean
		id="zsrdApplyCarDao"
		parent="KmssExtendDataAreaDao"
		class="com.landray.kmss.zsrd.apply.car.dao.hibernate.ZsrdApplyCarDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.zsrd.apply.car.model.ZsrdApplyCar" />
	</bean>

	<bean
		id="zsrdApplyCarTarget"
		parent="KmssExtendDataTarget"
		class="com.landray.kmss.zsrd.apply.car.service.spring.ZsrdApplyCarServiceImp">
		<property
			name="baseDao">
			<ref
				local="zsrdApplyCarDao" />
		</property>
		<property
			name="zsrdApplyCarDao">
			<ref
				local="zsrdApplyCarDao" />
		</property>
	</bean>
	<bean
		id="zsrdApplyCarService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				local="zsrdApplyCarTarget" />
		</property>
	</bean>

</beans>
