<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean
		id="zsrdApplySarahDao"
		parent="KmssExtendDataAreaDao"
		class="com.landray.kmss.zsrd.apply.sarah.dao.hibernate.ZsrdApplySarahDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.zsrd.apply.sarah.model.ZsrdApplySarah" />
	</bean>

	<bean
		id="zsrdApplySarahTarget"
		parent="KmssExtendDataTarget"
		class="com.landray.kmss.zsrd.apply.sarah.service.spring.ZsrdApplySarahServiceImp">
		<property
			name="baseDao">
			<ref
				local="zsrdApplySarahDao" />
		</property>
		<property
			name="zsrdApplySarahDao">
			<ref
				local="zsrdApplySarahDao" />
		</property>
	</bean>
	<bean
		id="zsrdApplySarahService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				local="zsrdApplySarahTarget" />
		</property>
	</bean>

</beans>
