<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean
		id="zsrdApplyVacateDao"
		parent="KmssExtendDataAreaDao"
		class="com.landray.kmss.zsrd.apply.vacate.dao.hibernate.ZsrdApplyVacateDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.zsrd.apply.vacate.model.ZsrdApplyVacate" />
	</bean>

	<bean
		id="zsrdApplyVacateTarget"
		parent="KmssExtendDataTarget"
		class="com.landray.kmss.zsrd.apply.vacate.service.spring.ZsrdApplyVacateServiceImp">
		<property
			name="baseDao">
			<ref
				local="zsrdApplyVacateDao" />
		</property>
		<property
			name="zsrdApplyVacateDao">
			<ref
				local="zsrdApplyVacateDao" />
		</property>
	</bean>
	<bean
		id="zsrdApplyVacateService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				local="zsrdApplyVacateTarget" />
		</property>
	</bean>

</beans>
