<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="subordinateDao"
          parent="KmssExtendDataAreaDao"
          class="com.landray.kmss.zsrd.knc.subordinate.dao.hibernate.SubordinateDaoImp">
        <property
                name="modelName"
                value="com.landray.kmss.zsrd.knc.subordinate.model.Subordinate"/>
    </bean>

    <bean id="subordinateTarget"
          parent="KmssExtendDataTarget"
          class="com.landray.kmss.zsrd.knc.subordinate.service.spring.SubordinateServiceImp">
        <property name="subordinateDao">
            <ref local="subordinateDao"/>
        </property>

    </bean>
    <bean id="subordinateService"
          parent="KmssBaseService">
        <property name="target">
            <ref local="subordinateTarget"/>
        </property>
    </bean>

</beans>
